* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 6, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url(../assets/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.menu-bar {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: relative;

    height: 80px;
    width: 100%;
}

.menu-bar img {
    width: 150px;
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    padding: 8px 12px;
    position: relative;
}

.menu-bar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;

    transition: all 0.3s;
}

.menu-bar ul li a:hover {
    color: #37fda1;
}

.dropdown-register {
    display: none;
}

.menu-bar ul li:hover .dropdown-register {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #342343;
}

.menu-bar ul li a:hover .dropdown-register ul {
    display: block;
    margin: 10%;
}

.menu-bar ul li a:hover .dropdown-register ul li {
    padding: 8px 14px;
    width: 150px;
    color: rgb(49, 255, 77);
}




/********* something ***********/
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 13px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
}

.hero-btn:hover {
    border: 1px solid #342343;
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 0.781),
        rgba(73, 2, 206, 0.7)
    );
    transition: 0.5s;
    color: #fff;
}

/* Course section */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #342343;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgb(47, 250, 131);
    background: #fff;
}

/* faq.html */
.question-faq {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.faq-header h1 {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 60px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }
